<nav class="navbar navbar-dark bg-dark flex-column">
  <ul class="navbar-nav bd-navbar-nav flex-row">
    <li class="nav-item">
      <a class="nav-link mx-2"
         routerLink="/"
         routerLinkActive="active font-weight-bold"
         [routerLinkActiveOptions]="{ exact:true }">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2"
         [routerLink]="[{ outlets: { 'left': 'servers'}}]"
         routerLinkActive="active font-weight-bold"
         [routerLinkActiveOptions]="{ exact:true }">Servers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link mx-2"
         [routerLink]="['/users','1','Moshe !!!!']"
         routerLinkActive="active font-weight-bold"
         [routerLinkActiveOptions]="{ exact:true }">Users</a>
    </li>
  </ul>
</nav>
<div class="row justify-content-center">
  <router-outlet name="left"
                 class="m-3"></router-outlet>
  <router-outlet class="m-3"></router-outlet>
  <router-outlet name="right"
                 class="m-3"></router-outlet>
</div>